{
  "extends": [
    "plugin:css-modules/recommended",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [
    "css-modules",
    "import",
    "react-hooks",
    "react",
    "simple-import-sort"
  ],
  "rules": {
    "array-bracket-spacing": [ "error", "always" ],
    "arrow-parens": [ "error", "as-needed" ],
    "comma-dangle": [ "error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore"
    } ],
    "css-modules/no-unused-class": "off",
    "function-paren-newline": "off",
    "implicit-arrow-linebreak": "off",
    "import/no-cycle": 1,
    "import/no-self-import": 1,
    "indent": [ "error", 2, { "SwitchCase": 1 } ],
    "jsx-quotes": [ "error", "prefer-double"],
    "max-len": "off",
    "no-console": "off",
    "no-undef": 2,
    "no-unused-expressions": 2,
    "object-curly-newline": "off",
    "object-curly-spacing": [ "error", "always" ],
    "quotes": [ "error", "single", { "allowTemplateLiterals": true } ],
    "react-hooks/exhaustive-deps": "error",
    "react-hooks/rules-of-hooks": 0,
    "react/display-name": "off",
    "react/jsx-curly-spacing": [ "error", { "children": true }],
    "react/jsx-no-undef": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/no-unescaped-entities": [ "error", { "forbid": [ ">", "\"", "}" ] } ],
    "react/prop-types": "off",
    "react/self-closing-comp": [ "error", { "component": true, "html": true } ],
    "semi": [ "error", "never" ],
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
