{
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [
    "import",
    "prettier"
  ],
  "rules": {
    "array-bracket-spacing": [ "error", "always" ],
    "arrow-parens": [ "error", "as-needed" ],
    "comma-dangle": [ "error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore"
    } ],
    "function-paren-newline": "off",
    "implicit-arrow-linebreak": "off",
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "groups": [
          "builtin",
          "external",
          "parent",
          "sibling",
          "index"
        ]
      }
    ],
    "indent": [ "error", 2, { "SwitchCase": 1 } ],
    "max-len": "off",
    "no-undef": 2,
    "no-unused-expressions": 2,
    "object-curly-newline": "off",
    "object-curly-spacing": [ "error", "always" ],
    "quotes": [ "error", "single", { "allowTemplateLiterals": true } ],
    "semi": [ "error", "never" ]
  }
}
